/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
h1 {
    font-size: 36px; /* Increased the size */
    color: #333;
    margin-top: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
    margin: 20px 0;
}

.title {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.field {
    margin-bottom: 15px;
}

.label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input:focus, textarea:focus {
    border-color: #007BFF;
    outline: none;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px #0056b3;
}

.button:hover {
    background-color: #0056b3;
}

.button:active {
    background-color: #004080;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button.is-secondary {
    background-color: #6c757d;
}

.button.is-secondary:hover {
    background-color: #5a6268;
}

.button.is-secondary:active {
    background-color: #545b62;
}

#results {
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #7e7b7b;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
